*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

#container {
  border: solid 2rem #0a0a0a;
  border-radius: 5px;
}

#stand {
  width: 500px;
  border-left: 20px dotted transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid #0a0a0a;
}

#imageContainer {
  width: 80vw;
  height: 80vh;
  position: relative;
}

#imageContainer > img {
  position: relative;
  display: none;
  height: 100%;
  width: 100%;
}

#left,
#right {
  opacity: 0.5;
  font-size: 1rem;
  font-weight: bolder;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 45%;
}

#left:hover,
#right:hover {
  cursor: pointer;
  background-color: #d0d0d0;
}

#left {
  left: 1rem;
}

#right {
  right: 1rem;
}

#imgNav {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#imgNav > span {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #cacaca;
  border-radius: 50%;
  cursor: pointer;
}