*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  border: solid 1px black;
  border-radius: 5px;
}

#imageContainer {
  width: 80vw;
  height: 80vh;
  position: relative;
}

#imageContainer > img {
  position: relative;
  display: none;
  height: 100%;
  width: 100%;
}

#left,
#right {
  position: absolute;
  top: 45%;
  padding: 0.5rem;
}

#left:hover,
#right:hover {
  cursor: pointer;
}

#left {
  left: 1rem;
}

#right {
  right: 1rem;
}

#imgNav {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#imgNav > span {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #cacaca;
  border-radius: 50%;
  cursor: pointer;
}